@import url('https://fonts.googleapis.com/css?family=Bai Jamjuree:700');

content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 460px;
    height: 52px;
    margin-left: -230px;
    margin-top: -26px;

    border-style: solid;
    border-radius: 8px;
    border-width: 4px;
    box-shadow: 4px 4px;

    font-family: 'Bai Jamjuree';
    font-weight: 700;
    font-size: x-large;

    text-align: center;
}

.banner {
    background-image: url(construction_banner.svg);
    height: 24px;
}